/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* the star rating below uses code from https://codepen.io/Bluetidepro/pen/GkpEa */

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: lightgrey;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0;
    margin-top: -8px;
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}
    
.star-ratings-css-top
{
    color: #ffc107;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.number-box {
    height: 24px;
    width: 24px;
    background-color: #007bff;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}
