@{
    ViewData["Title"] = "Home Page";
}
<!-- this is the 'breadcrumb' with the navigation links-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<!-- this is the main content of the homepage-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Movie Manager</h1>
        <p class="lead">This is a .NET Core MVC Application Using EntityFramework Core.</p>

        <hr class="my-4">
        <p>Provides movie management and review functionality</p>
       
    </div>
</div>
