@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- this is the 'breadcrumb' with the navigation links-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Privacy</li>
    </ol>
</nav>

<!-- this is the main content of the privacy page-->
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>
